* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
}



/**************** Sign In Box **************/

#sign_in_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-left: 140px;
    margin-top: 60px;
    width: 700px;
    height: 670px;
    margin: 90px 0 0 240px;
    padding-bottom: 0;
}


h2 {
    margin: 0 80px 50px 0;
    font-size: 60px;
    font-weight: 502;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}


.icon_box {
    display: flex;
    align-items: center;
    width: 480px;
}


#icon {
    display: block;
    color: black;
    border: 1.25px solid rgb(149, 149, 149);
    width: 40px;
    border-right: 0;
    padding: 36px 0px 37px 37px;                        /* Resize icon border */
    border-radius: 39px 0 0 39px;
}


input {
    display: block;
    border-radius: 0 39px 39px 0;
    border: 1.25px solid rgb(149, 149, 149);
    border-left: 0;
    width: 100%;                                     /* Resize input fields */
    height: 74px;
    padding-left: 4px;
    font-size: 19px;
    font-family: Verdana;
    margin: 36px 0px 36px 0;
    letter-spacing: 0.05em;
}


input[type=password] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}


.signin {
    display: block;
    border-radius: 39px;
    width: 45%;
    height: 59px;
    background-color: rgba(44, 81, 249, 0.913);
    border: 1px solid rgba(32, 61, 187, 0.913);
    color: white;
    font-size: 27px;
    font-weight: 510;
    transition-duration: 0.3s;
    margin: 30px 25px 0 0;
}


button:hover {
    background-color: rgba(27, 43, 188, 0.913);
}

/* sign up */

.signup {
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 100%;
    padding-top: 80px;
    padding-top: 10vh;
    padding-left: 0;
    color: white;
}

#background {
    width: 50vw;
    height: 95vh;
    border-radius:0% 90% 85% 12% / 10% 0% 100% 3%; 
    background-color: blue;
}

.first-line {
    padding: 0 0 1.8vh 12.5vw;
    font-size: 1.5vw;
    font-weight: 510;
}

.second-line {
    padding: 0 0 1.5vh 8.8vw;
    font-size: 1.5vw;
    font-weight: 510;
}

.sign-up-btn {
    margin-left: 16.8vw;
    margin-top: 1vh;
    width: 11.5vw;
    height: 5.5vh;
    border-radius: 39px;
    background-color: blue;
    border: 2.5px solid white;
    color: white;
    font-size: 1.5vw;
    font-weight: 510;
    cursor: pointer;
    align-items: center;
    transition-duration: 0.3s;
    display:block;
}

/******Background-Image******/

.resize {
    width: 300px;
    height: auto;
}

.resize {
    width: 473px;
    height: auto;
}

.resize {
    margin-left: auto;
    margin-right: auto;
    padding-top: 12.6vh;
}

.links {
    position: absolute;
    right: 250px;
    width: 400px;
}

#social {
    border: 1px solid black;
    border-radius: 50%;
    padding: 25px 25px;
    margin-right: 1vw;
}

p {
    margin-top: 10px;
    padding: 0 0 25px 55px
}